{% extends 'app/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}
{%block main-content%}
<div class="container my-5 flex-grow-1">
    <div class="row">
        <h3>Welcome {{request.user.username}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary" >Change password Done!</a>
                </li>
            </ul>
        </div>
        <h2>Password Changed Successfully!<h2>
    </div>
</div>
{% endblock main-content%}